@keyframes glow {
    0% {color: rgba(255,255,255,.75); text-shadow: 1px 1px 1px rgba(255,255,255,.75);}
    50% {color: whitesmoke; text-shadow: 2px 1px 1px rgba(245, 245, 245, 0.788);}
    100% {color: rgba(255,255,255,.75); text-shadow: 1px 1px 1px rgba(255,255,255,.75);}
}

@keyframes un-mask {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes spinner {
    0% {transform: translate3d(-50%, -50%, 0) rotate(0deg);}
    90% {transform: translate3d(-50%, -50%, 0) rotate(365deg);}
    100% {transform: translate3d(-50%, -50%, 0) rotate(360deg);}
}

@keyframes reverse-spinner {
    0% {transform: translate3d(-50%, -50%, 0) rotate(0deg);}
    100% {transform: translate3d(-50%, -50%, 0) rotate(-360deg);}
}


/* { loading... } */
.loadingBackground {
    background-image: url("../assets/3d-background.png");
    height: 100vh;
    width: 100vw;
    -webkit-backgound-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    text-align: center;
}
.loadingMask {
    height: 100vh;
    width: 100vw;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro';  
    background: linear-gradient(8deg, rgba(26,26,26,0.2) 0%, rgba(25,25,25,1) 70%);
}
.spinner {
    animation: spinner 2.5s ease infinite;
    /* animation-play-state: inherit; */
    border: solid 5px transparent;
    border-bottom-color: #cfd0d1;
    border-left-color: #cfd0d1;
    border-top-color: #cfd0d1;
    border-radius: 50%;
    /* content: ""; */
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate3d(-50%, -50%, 0); */
    /* will-change: transform; */
}
.logoSpinner {
    animation: reverse-spinner 3.5s linear infinite;
    border: solid 4px transparent;
    border-bottom-color: #cfd0d1;
    border-right-color: #cfd0d1;
    border-top-color: #cfd0d1;
    border-radius: 50%;
    height: 74px;
    width: 74px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* top: 45%;
    left: 47%; */
}
.logo {
    animation: glow 7s ease infinite;
    font-family: 'Anonymous Pro';
    font-size: 3em;
    color: whitesmoke;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 47%;
    left: 48%;
}



/* ???? */
.bg {
    /* position: absolute; */
    display: flex;
    animation: un-mask 3s ease;
    background-image: url("../assets/3d-background.png");
    height: 100%;
    /* width: 100%; */
    -webkit-backgound-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    text-align: center;
}

.contactBackground {
    padding-top: 4em;
    width: fit-content;
    /* margin: auto; */
    /* position: absolute; */
    /* height: 100vh; */
    width: 100vw;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro';
    background: linear-gradient(8deg, rgba(26,26,26,0.2) 0%, rgba(25,25,25,1) 70%);
}