/* ======> {{ PROJECTS }} <====== */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


@keyframes glow {
    0% {color: rgba(255,255,255,.75); text-shadow: 1px 1px 1px rgba(255,255,255,.75);}
    50% {color: whitesmoke; text-shadow: 2px 1px 1px rgba(245, 245, 245, 0.788);}
    100% {color: rgba(255,255,255,.75); text-shadow: 1px 1px 1px rgba(255,255,255,.75);}
}

/* ---> Global <--- */

.projectsBackground {
    padding-top: 4em;
    height: 100vh;
    width: 100vw;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro';  
    background: linear-gradient(8deg, rgba(26,26,26,0.2) 0%, rgba(25,25,25,1) 70%);
}

div#projectsContainer.projectsBackground {
    position: absolute;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3em;
    color: whitesmoke;
    animation: glow 7s ease infinite;
}

.bg {
    background-image: url("../assets/3d-background.png");
    height: 100%;
    width: 100%;
    -webkit-backgound-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    text-align: center;
}